{% extends 'base.html' %}


{% block content %}

</br>


{% if zipcode %}
		{{ zipcode }}
{% endif %}

{% if api %}
		{% if api == "Error..." %}
			There was an error, please try again...
		{% else %}
			<div class="jumbotron">
			  <h1 class="display-4">{{ api.0.Category.Name }}  </h1>
			  <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>

			 	 {% if api.0.Category.Name == "Good" %}
						<p>Air quality is good</p>
				{% endif %}
			</div>



		{% endif %}

	</br>
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Nome</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
	    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Endereco</label>
	    <input type="password" class="form-control" id="exampleInputPassword1">
	  </div>
	  <div class="form-group form-check">
	    <input type="checkbox" class="form-check-input" id="exampleCheck1">
	    <label class="form-check-label" for="exampleCheck1">Check me out</label>
	  </div>
	</form>


	<form action="{% url 'sobre' %}" method="POST"> 
		{% csrf_token %}
    	<div class="form-group">
	      <input class="form-control" type="search" name ="nome_pessoa" id="nome_pessoa_id">
	      <button class="btn btn-primary" type="submit">Lookup</button>
	    </div>
    </form> 

	</br>
	



{% endif %}


{% endblock %}

